/* Nav: Aquí pondremos todo lo relacionado al nav */
.container-fluid
{
        background-color: #203359;
}

.active
{
        padding: 15px;
}

.nav .navbar-nar
{
        padding: 3;
}

#logo-color-img-nav
{
        width: 100px;
}