/* Fonts */
h4
{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Nav: Aquí pondremos todo lo relacionado al nav */
.container-fluid
{
        background-color: #203359;
}

.active
{
        padding: 15px;
}

#logo-color-img-nav
{
        width: 100px;
}

/* Registro.html : Aquí van los estilos de los componentes de la página registro.html */
.container-form
{
        background-color: #d6d6d6;
        padding: 30px;
}
